.Projects {
    color: var(--secondary-text);
    outline: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5vw;
    width: calc(100% - 20px);



}

.Projects .Top-margin {
    height: 50px;
}








/* project container */

.Project-container {
    /* outline: 1px dashed pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
}

.Project-container-reverse {
    /* outline: 1px dashed pink; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
}














/* Left */
.Project-graphics {
    background-color: var(--element-fill);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 150px;
    height: 150px;


}

.Project-title {
    color: var(--primary-text);
}

.Project-image {
    /* outline: 1px dashed yellow; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* buttons */
.Project-buttons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    cursor: pointer;
}

.Project-buttons .Code-BTN {
    border-radius: 25px;
    border: none;
    width: 50px;
    background-color: inherit;
    color: var(--primary-text);
    outline: 1px solid var(--primary-fill);
    cursor: pointer;
}

.Project-buttons .Live-BTN {
    border-radius: 25px;
    border: none;
    padding: 5px;
    width: 50px;
    background-color: var(--primary-fill);
    color: var(--primary-text);
    cursor: pointer;
}

/* Right */
.Project-description {
    /* outline: 1px dashed pink; */
    width: 400px;
    max-width: 500px;
}

.Project-Technology {
    padding: 5px;
    padding-left: 0px;
    display: flex;
    gap: 5px;

}

.Project-tech-icon {
    width: 25px;
    height: 25px;
    filter: grayscale(100);
}