:root {
  --background: #232323;
  --primary-fill: #ff7f29;
  --secondary-fill: #3f3f3f;
  --element-fill: #ff7f2930;

  --primary-text: #ffffff;
  --secondary-text: #848484;

}

[data-theme='dark'] {
  --background: #ffffff;
  --primary-fill: #ff7f29;
  --secondary-fill: #9b9b9b;
  --element-fill: #808080;

  --primary-text: #000000;
  --secondary-text: #828282;
}




.App {
  background-color: var(--background);
  padding: 10px;
  min-height: calc(100vh - 20px);
  font-family: sans-serif;
  overflow: hidden;


}




.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .Popup {
    background-color: var(--primary-fill);;
    width: 500px;
    max-width: 90%;
    padding: 1rem;
    border-radius: 10px;
    color: var(--primary-text);

    .Attention-Button {
      background-color: var(--secondary-fill);
      color: var(--primary-text);
      border-radius: 25px;
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .Attention-Button:hover {
      color: var(--secondary-text);
    }
  }
}