:root {
  --background: #232323;
  --primary-fill: #ff7f29;
  --secondary-fill: #3f3f3f;
  --element-fill: #ff7f2930;

  --primary-text: #ffffff;
  --secondary-text: #848484;

}

[data-theme='dark'] {
  --background: #d3d3d3;
  --primary-fill: #ff7f29;
  --secondary-fill: #9b9b9b;
  --element-fill: #ff7f2930;

  --primary-text: #000000;
  --secondary-text: #A6A6A6;
}




.App{ 
  background-color: var(--background);
  padding: 10px;
  height: calc(100vh - 20px);
  font-family: sans-serif;
}